<div class="cont">
    <!-- For showing grey background behind the modal -->
    <div class="cart__background"></div>
    <div class="cart">
        <div class="cart__heading">
            <p>Shopping cart (2)</p>
            <img src="icons/xIcon.png" alt="X icon" (click)="shouldCloseCart()">
        </div>

        <div class="cart__items">
            <div class="testItem">
                
            </div>
        </div>

        <div class="cart__prices">
            <div class="cart__prices__subTotal">
                <p>Items subtotal</p>
                <p>$50</p>
            </div>

            <div class="cart__prices__delivery">
                <p>Delivery</p>
                <p>$5</p>
            </div>

            <div class="cart__prices__total">
                <p>Total</p>
                <p>$55</p>
            </div>
        </div>

        <button>Go to checkout</button>
    </div>
</div>
