<div class="cont">
    <div class="header">
        <div class="header__leftSection" routerLink="/">
            <img src="icons/HandEye.png" alt="RedSeam logo" draggable="false">
            <h3>RedSeam Clothing</h3>
        </div>
        <div class="header__rightSection" [class.header__rightSectionV2]="userIsLoggedIn" (click)="!userIsLoggedIn && navigate()">
            <ng-container *ngIf="!userIsLoggedIn; else showLoggedIn">
                <img src="icons/user.png" alt="User icon" draggable="false">
                <p>Log in</p>
            </ng-container>

            <ng-template #showLoggedIn>
                <img src="icons/shoppingCartBlack.png" alt="Shopping cart icon" draggable="false" (click)="shouldShowCart()">
                <div class="header__rightSection__userRelated">
                    <img [src]="user?.avatar" alt="User profile image" class="header__rightSection__profileImage" draggable="false">
                    <img src="icons/dropdownIcon.png" alt="Arrow dropwdown icon" draggable="false">
                </div>
            </ng-template>
        </div>
    </div>
</div>
