@import '../../../styles/mixins.scss';

.header {
    @include FlexContainer;
    justify-content: space-between;
    width: 1920px;
    height: 80px;
    padding-left: 100px;
    padding-right: 100px;

    h3, p {
        user-select: none;
    }

    .header__leftSection {
        @include FlexContainer;
        gap: 4px;
        cursor: pointer;

        img {
            user-select: none;
        }
    }

    .header__rightSection {
        @include FlexContainer;
        gap: 8px;
        cursor: pointer;

        img {
            user-select: none;
        }

        // p {
        //     cursor: pointer;
        // }

        .header__rightSection__profileImage {
            width: 40px;
            height: 40px;
        }
    }

    // This will be used if a user is logged in
    .header__rightSectionV2 {
        @include FlexContainer;
        gap: 20px;

        img {
            cursor: pointer;
        }

        .header__rightSection__userRelated {
            @include FlexContainer;
            gap: 4px;
            cursor: pointer;

            .header__rightSection__profileImage {
                width: 40px;
                height: 40px;
                user-select: none;
            }
        }

    }
}