<app-header></app-header>
<div class="cont">
    <div class="signup">
        <img src="background-images/AuthBackground2.png" alt="Signup background">
        <div class="signup__rightSide">
            <div class="signup__rightSide__heading">
                <h1>Registration</h1>
            </div>

            <div class="signup__rightSide__form">
                <div class="signup__rightSide__form__images">
                    <img src="icons/Ellipse 1.png" alt="Default profile image">
                    <p>Upload new</p>
                    <p>Remove</p>
                </div>

                <div class="signup__rightside__form__fields">
                    <input type="text" placeholder="Username">
                    <input type="text" placeholder="Email">
                    <input type="text" placeholder="Password">
                    <input type="text" placeholder="Confirm password">
                </div>

                <button>Register</button>
                <p>Already member? <span>Log in</span></p>
            </div>
        </div>
    </div>
</div>
