<app-header></app-header>
<div class="cont">
    <div class="signup">
        <img src="background-images/AuthBackground2.png" alt="Signup background">
        <div class="signup__rightSide">
            <div class="signup__rightSide__heading">
                <h1>Registration</h1>
            </div>

            <form class="signup__rightSide__form" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                <div class="signup__rightSide__form__images">
                    <div class="signup__rightside__form__images__container">
                        <div class="signup__rightside__form__images__imageUpload" (click)="fileInput.click()">
                            <input type="file" #fileInput accept="image/*" (change)="onFileSelected($event)" hidden>
                            <ng-container *ngIf="!selectedFile; else showProfileImg">
                                <img src="icons/avatarPlaceholder.png" alt="Profile image placeholder" draggable="false">
                            </ng-container>

                            <ng-template #showProfileImg>
                                <img [src]="imagePreview" alt="Profile image">
                            </ng-template>
                            <p>Upload new</p>
                        </div>

                        <p (click)="removeFile()">Remove</p>
                    </div>

                    <ng-container *ngIf="errors.avatarError?.[0]">
                        <p class="errMsg avatarErr">{{errors.avatarError[0]}}</p>
                    </ng-container>
                </div>

                <div class="signup__rightside__form__fields">
                    <div class="signup__rightside__form__fields__username">
                        <input type="text" placeholder="Username" formControlName="username">
                        <!-- Render the error paragraph only if there actually is an error -->
                        <!-- Display only the first error per field to avoid overcrowding the page -->
                        <!-- This way if the user fixes only one error but leaves some other, that one will be shown next -->
                        <!-- And eventually they will have to fix all of them one by one -->
                        <ng-container *ngIf="errors.usernameError?.[0]">
                            <p class="errMsg">{{errors.usernameError[0]}}</p>
                        </ng-container>
                    </div>

                    <div class="signup__rightside__form__fields__email">
                        <input type="text" placeholder="Email" formControlName="email">
                        <ng-container *ngIf="errors.emailError?.[0]">
                            <p class="errMsg">{{errors.emailError[0]}}</p>
                        </ng-container>
                    </div>

                    <!-- Use input-wrapper to align show password icon correctly -->
                    <div class="input-wrapper">
                        <img src="icons/Vector.png" alt="See password icon"
                        class="showPasswordIcon" (click)="toggleShowPassword()">
                        <input [type]="showPassword ? 'text' : 'password'" 
                        placeholder="Password" formControlName="password" class="passwordField">
                        <ng-container *ngIf="errors.passwordError?.[0]">
                            <p class="errMsg">{{errors.passwordError[0]}}</p>
                        </ng-container>
                    </div>
                    
                    <div class="input-wrapper">
                        <img src="icons/Vector.png" alt="See password icon" 
                        class="showPasswordIcon" (click)="toggleShowConfirmPassword()">
                        <input [type]="showConfirmPassword ? 'text' : 'password'" 
                        placeholder="Confirm password" formControlName="confirmPassword" class="passwordField">
                        <ng-container *ngIf="errors.confirmPasswordError?.[0]">
                            <p class="errMsg">{{errors.confirmPasswordError[0]}}</p>
                        </ng-container>
                    </div>
                </div>

                <button>Register</button>
            </form>
            <p>Already member? <span routerLink="/login">Log in</span></p>
        </div>
    </div>
</div>
