@import '../../../styles/mixins.scss';

.signup {
    display: flex;
    width: 1920px;
    height: 880px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
    }

    .signup__rightSide {
        width: 100%;
        @include FlexContainerColumn;

        span { 
            color: #FF4000;
            cursor: pointer;
        }

        .signup__rightSide__heading {
            width: 554px;
            text-align: left;
            margin-bottom: 80px;

            h1 {
                width: 261px;
                font-weight: 600;
                font-size: 42px;
            }
        }
        

        .signup__rightSide__form {
            width: 554px;
            height: 518px;
            @include FlexContainerColumn;
            justify-content: start;
            align-items: start;
            gap: 46px;

            .signup__rightSide__form__images {
                @include FlexContainerColumn;
                justify-content: flex-start;
                align-items: start;
                width: 302px;
                height: 100px;
                gap: 15px;

                .signup__rightside__form__images__container {
                    @include FlexContainer;
                    gap: 15px;

                    .signup__rightside__form__images__imageUpload {
                        @include FlexContainer;
                        width: 207px;
                        cursor: pointer;
                        gap: 15px;

                        img {
                            width: 100px;
                            height: 100px;
                            border-radius: 50px;
                            user-select: none;
                        }

                    }
                }

                p {
                    cursor: pointer;
                    height: 21px;
                    font-size: 14px;
                }

                .avatarErr {
                    cursor: auto;
                    font-size: 11px;
                }
            }

            .signup__rightside__form__fields {
                @include FlexContainerColumn;
                width: 554px;
                height: 240px;
                gap: 24px;

                .signup__rightside__form__fields__username, .signup__rightside__form__fields__email {
                    display: flex;
                    flex-direction: column;
                    gap: 14px;
                }

                input {
                    width: 554px;
                    height: 42px;
                    padding: 16px 8px 16px 8px;
                    font-size: 14px;
                    border: 1px solid #E1DFE1;
                    border-radius: 8px;
                }

                input::placeholder {
                    color: black;
                    opacity: 1;
                }

                .input-wrapper {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                
                    .showPasswordIcon {
                        width: 16.69px;
                        height: 12.5px;
                        position: absolute;
                        top: 50%;
                        right: 10px;
                        transform: translateY(-50%);
                        cursor: pointer;
                    }
                    
                    .errMsg {
                        position: absolute;
                        top: 55px;
                        left: 0;
                    }
                }

            }

            button {
                width: 554px;
                height: 41px;
                @include BasicRedseamButton;
                line-height: 41px; // Center the text inside the button
            }
        }
    }
}