// Basic flex container
@mixin FlexContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

// Flex column container
@mixin FlexContainerColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin BasicRedseamButton {
    background-color: #FF4000;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}