@import '../../../styles/mixins.scss';

.product {
    width: 1920px;
    height: auto;
    margin-bottom: 100px;
    @include FlexContainerColumn;
    gap: 60px;
    padding-top: 50px;
    padding-bottom: 50px;

    .product__heading {
        width: 1920px;
        padding-left: 103px
    }

    .product__layout {
        @include FlexContainer;
        gap: 160px;
        width: 1920px;
        height: auto;

        .product__images {
            @include FlexContainer;
            gap: 25px;

            .product__images__design {
                width: 121px;
                height: 937px;
                @include FlexContainerColumn;
                justify-content: start;
                gap: 8px;

                img {
                    width: 100%;
                    height: 161.33px;
                }

                img:hover {
                    cursor: pointer;
                    transform: scale(1.2);
                }
            }

            .product__images__coverImage {
                width: 703px;
                height: 937px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .product__data {
            width: 704px;
            height: 937px;
            display: flex;
            flex-direction: column;
            gap: 56px;

            .product__data__heading {
                display: flex;
                flex-direction: column;
                gap: 21px;
                width: 583px;
                height: 117px;
            }

            .product__data__appearance {
                width: 382px;
                height: 348px;
                display: flex;
                flex-direction: column;
                gap: 48px;

                .product__data__appearance__color {
                    display: flex;
                    flex-direction: column;
                    gap: 16px;

                    .product__data__appearance__color__availableColors {
                        display: flex;
                        gap: 13px;

                        .product__data__appearance__color__availableColors__availableColor {
                            width: 38px;
                            height: 38px;
                            cursor: pointer;
                            border-radius: 19px;
                            padding: 2px;
                        }

                        .product__data__appearance__color__availableColors__availableColor:hover {
                            outline: 3px solid rgb(221, 221, 221);
                            outline-offset: 5px;
                        }

                        .product__data__appearance__color__availableColors__availableColor.selected {
                            outline: 3px solid rgb(221, 221, 221);
                            outline-offset: 5px;
                        }
                    }
                }

                .product__data__appearance__size {
                    display: flex;
                    flex-direction: column;
                    gap: 16px;

                    .product__data__appearance__size__availableSizes {
                        display: flex;
                        gap: 8px;

                        button {
                            width: 70px;
                            height: 42px;
                            background-color: white;
                            border-radius: 10px;
                            cursor: pointer;
                            border: 1px solid #E1DFE1;
                        }

                        button:hover {
                            transition: 0.1s ease-in-out;
                            background-color: #f5f4f4;         
                        }

                        button.selected {
                            border-color: black;
                            background-color: #f5f4f4;
                        }
                    }
                }

                .product__data__appearance__quantity {
                    display: flex;
                    flex-direction: column;
                    gap: 16px;

                    select {
                        width: 70px;
                        height: 42px;
                        background-color: white;
                        border-radius: 10px;
                        cursor: pointer;
                        border: 1px solid #E1DFE1;
                        font-size: 16px;
                        // Hide the native drop down icon because padding doesn't affect it
                        -webkit-appearance: none; // for Chrome/Safari 
                        appearance: none; 
                        -moz-appearance: none; // for firefox
                        // Use a custom one instead
                        background: url('/icons/dropdownIcon.png') no-repeat right 1rem center;
                        background-size: 1rem 1rem; 
                        padding-left: 16px;
                        padding-right: 16px;
                    }
                }
            }

            .product__data__button {
                width: 100%;
                height: 171px;
                @include FlexContainerColumn;
                border-bottom: 1px solid rgb(229, 229, 229);

                button {
                    width: 100%;
                    height: 59px;
                    border-radius: 10px;
                    @include BasicRedseamButton;
                    font-size: 18px;
                    @include FlexContainer;
                    gap: 10px;

                    p {
                        margin-top: 3px;
                    }

                    img {
                        width: 24px;
                        height: 24px;
                        object-fit: cover;
                    }
                }

                .product__data__button__added {
                    line-height: 0;
                    margin-top: 20px;
                    color: green;
                }

                .product__data__button__failed {
                    line-height: 0;
                    color: red;
                }
            }

            .product__data__details {
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;

                .product__data__details__brand {
                    @include FlexContainer;
                    justify-content: space-between;

                    img {
                        width: 109px;
                        height: 61px;
                    }
                }

                .product__data__details__description {
                    display: flex;
                    flex-direction: column;
                    gap: 19px;
                    font-size: 16px;
                }
            }
        }
    }
}