<app-header (showCart)="setCartVisibility($event)"></app-header>
<div class="cont">
    <div class="product">
        <div class="product__heading">
            <p>Listing / Product</p>
        </div>
        <div class="product__layout">
            <div class="product__images">
                <div class="product__images__design">
                    <div *ngFor="let image of images">
                        <img [src]="image" alt="Product design">
                    </div>
                </div>

                <div class="product__images__coverImage">
                    <img [src]="product?.cover_image" alt="Product cover image">
                </div>
            </div>

            <div class="product__data">
                <div class="product__data__heading">
                    <h1>{{product?.name}}</h1>
                    <h1>$ {{product?.price}}</h1>
                </div>

                <div class="product__data__appearance">
                    <div class="product__data__appearance__color">
                        <p>Color: {{productProperties.color === '' ? product?.color : productProperties.color}}</p>
                        <div class="product__data__appearance__color__availableColors">
                            <div *ngFor="let color of product?.available_colors">
                                <div (click)="productProperties.color = color"
                                class="product__data__appearance__color__availableColors__availableColor"
                                tabindex="0"
                                [style.background-color]="possibleColors[color]"
                                [class.selected]="productProperties.color === color"></div>   
                            </div>
                        </div>  
                    </div>

                    <div class="product__data__appearance__size">
                        <p>Size: {{productProperties.size === '' ? product?.size : productProperties.size}}</p>
                        <div class="product__data__appearance__size__availableSizes">
                            <div *ngFor="let size of product?.available_sizes">
                                <button (click)="productProperties.size = size"
                                [class.selected]="productProperties.size === size">
                                    {{size}}
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="product__data__appearance__quantity">
                        <p>Quantity</p>
                        <select name="Quantity" [(ngModel)]="productProperties.quantity">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    </div>
                </div>

                <div class="product__data__button">
                    <!-- Added parapgraph inside to align the text with the icon better -->
                    <button (click)="add(product!.id, productProperties, token)">
                        <img src="icons/shoppingCartWhite.png" alt="Cart icon">
                        <p>Add to cart</p>
                    </button>
                    <p class="product__data__button__added">{{addedToCart ? 'Added!' : ''}}</p>
                </div>

                <div class="product__data__details">
                    <div class="product__data__details__brand">
                        <h3>Details</h3>
                        <img [src]="product?.brand?.image" alt="Product brand logo">
                    </div>

                    <div class="product__data__details__description">
                        <p>Brand: {{product?.brand?.name}}</p>
                        <p>{{product?.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ng-container *ngIf="showCart">
        <app-cart (closeCart)="setCartVisibility($event)"></app-cart>
    </ng-container>
</div>
