<app-header (showCart)="setCartVisibility($event)"></app-header>
<div class="cont">
    <div class="products">
        <div class="products__heading">
            <h2>Products</h2>
            <div class="products__heading__rightSection">
                <p>Showing 1–10 of 100 results</p>
                <img src="icons/lineIcon.png" alt="Line icon" draggable="false">
                <div class="products__heading__rightSection__filter" (click)="toggleFilter()">
                    <img src="icons/filterIcon.png" alt="Filter icon" draggable="false">
                    <p>Filter</p>
                </div>
                <div class="products__heading__rightSection__sort" (click)="toggleSort()">
                    <p>Sort by</p>
                    <img src="icons/dropdownIcon.png" alt="Dropdown icon" draggable="false">
                </div>

                <!-- Price filter modal -->
                <ng-container *ngIf="showFilter">
                    <div class="filter__modal">
                        <div class="filter__modal__heading">
                            <h4>Select price</h4>
                        </div>
                        <div class="filter__modal__content">
                            <div class="filter__modal__content__inputs">
                                <input type="text" placeholder="From" [(ngModel)]="filterInput.from">
                                <input type="text" placeholder="To" [(ngModel)]="filterInput.to">
                            </div>
                            <ng-container *ngIf="invalidInput"><p class="errMsg">Please enter valid values</p></ng-container>
                            <div class="filter__modal__content__button">
                                <button (click)="sendFilterReq()">Apply</button>
                            </div>
                        </div>
                    </div>
                </ng-container>

                <!-- Sort modal -->
                <ng-container *ngIf="showSort">
                    <div class="sort__modal">
                        <div class="sort__modal__content">
                            <div class="sort__modal__content__headingWrapper">
                                <h4>Sort by</h4>
                            </div>
                            <div class="sort__modal__content__optionWrapper" (click)="sort('created_at', 'New products first')">
                                <p>New products first</p>
                            </div>
                            <div class="sort__modal__content__optionWrapper" (click)="sort('price', 'Price, low to high')">
                                <p>Price, low to high</p>
                            </div>
                            <div class="sort__modal__content__optionWrapper" (click)="sort('-price', 'Price, high to low')">
                                <p>Price, high to low</p>
                            </div>                        
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>

        <ng-container *ngIf="appliedFilters.length > 0">
            <div class="products__appliedFilters">
                <div *ngFor="let filter of appliedFilters">
                    <div class="products__appliedFilters__container">
                        <p>{{filter.content}}</p>
                        <img src="icons/xIcon.png" alt="X icon" (click)="removeFilter(filter.key)">
                    </div>
                </div>
            </div>
        </ng-container>

        <div class="products__itemsAndPages">
            <div class="products__items">
                <ng-container *ngIf="productsAreBeingFetched">
                    <p>Loading...</p>
                </ng-container>

                <ng-container *ngIf="products.length; else showNoResults">
                    <div *ngFor="let product of products">
                        <div class="products__items__item" [routerLink]="['/product', product.id]">
                            <img [src]="product.cover_image" alt="Cover image">
                            <p>{{product.name}}</p>
                            <p>$ {{product.price}}</p>
                        </div>
                    </div>
                </ng-container>

                <ng-template #showNoResults>
                    <p *ngIf="!productsAreBeingFetched">Couldn't find results.</p>
                </ng-template>
            </div>

            <div class="products__pages">
                <img src="icons/leftArrowIcon.png" alt="Left arrow icon" draggable="false" (click)="changePage(getPreviousPage())">
                <!-- If the current page is not 1 show the first page to help the user navigate back -->
                <ng-container *ngIf="getCurrentPageAsNum() !== 1">
                    <button (click)="changePage('1')" [class.selected]="currentPage === '1'">1</button>
                </ng-container>
                <button (click)="changePage(getCurrentPage())" id="firstButton" [class.selected]="currentPage === getCurrentPage()">
                    {{getCurrentPage()}}
                </button>
                <button (click)="changePage(calculateNextPage())" [class.selected]="currentPage === calculateNextPage()">
                    {{calculateNextPage()}}
                </button>
                <button>...</button>
                <button (click)="changePage('9')" [class.selected]="currentPage === '9'">9</button>
                <button (click)="changePage('10')" [class.selected]="currentPage === '10'">10</button>
                <!-- Using getter because the page number has to be cast into a string in order to be used as a query parameter -->
                <img src="icons/rightArrowIcon.png" alt="Right arrow icon" draggable="false" (click)="changePage(getNextPage())">
            </div>
        </div>

    </div>

    <ng-container *ngIf="showCart">
        <app-cart (closeCart)="setCartVisibility($event)"></app-cart>
    </ng-container>
</div>
