@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

// Base class for centering elements/components
.cont {
    display: flex;
    justify-content: center;
    align-items: center;
}

.errMsg {
    font-size: 11px;
    color: red;
    line-height: 0;
    align-self: flex-start;
    text-align: left;
}