/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

// Base class for centering elements/components
.cont {
    display: flex;
    justify-content: center;
    align-items: center;
}

.errMsg {
    font-size: 11px;
    color: red;
    line-height: 0;
    align-self: flex-start;
    text-align: left;
}